n8n-server/ICT203-Test.json
{
  "name": "ICT203-Test",
  "nodes": [
    {
      "parameters": {
        "path": "product",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -368
      ],
      "id": "8829567f-3b58-4ffe-ab16-59f798024d6f",
      "name": "GET product",
      "webhookId": "8275f3ec-3840-4366-bfb7-103d6ebbf001"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "product",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        240
      ],
      "id": "17289897-fe42-436e-b7bf-b2b8baf44bc6",
      "name": "POST product",
      "webhookId": "8275f3ec-3840-4366-bfb7-103d6ebbf001"
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "product",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        720
      ],
      "id": "bdafdfc9-bc09-4390-9814-5a63fff5170d",
      "name": "PUT product",
      "webhookId": "8275f3ec-3840-4366-bfb7-103d6ebbf001"
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "product",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        1200
      ],
      "id": "cbcbc32a-fbe6-428a-ad3e-a74a147a1098",
      "name": "DELETE product",
      "webhookId": "8275f3ec-3840-4366-bfb7-103d6ebbf001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ef47ea7-d79f-40dc-87a6-d2e76d941be8",
              "name": "query.id",
              "value": "={{ $json.query.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -368
      ],
      "id": "9ef92a90-fd51-4736-ae0a-6b36abd4b60e",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4f304b6d-96cc-49e8-95c0-414710048de9",
              "leftValue": "={{ $json.query.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        -368
      ],
      "id": "fa191b47-e02e-4d9e-9b57-fd1db754795c",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        -464
      ],
      "id": "bc8ce29c-2769-43c1-af28-e598cbdc6b1f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vaDztqYMVv16UgWH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f687b847-a5c0-448d-86be-40a78b16b331",
              "name": "pro_name",
              "value": "={{ $json.body.pro_name }}",
              "type": "string"
            },
            {
              "id": "f53ff8a7-1449-41f1-a137-78871b58841b",
              "name": "pro_desc",
              "value": "={{ $json.body.pro_desc }}",
              "type": "string"
            },
            {
              "id": "ee6d195a-a3ad-4243-a0d9-0d2fbc648555",
              "name": "pro_price",
              "value": "={{ $json.body.pro_price }}",
              "type": "number"
            },
            {
              "id": "ddb81d57-a133-4f27-a98f-4e51f3f640ab",
              "name": "pro_count",
              "value": "={{ $json.body.pro_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        240
      ],
      "id": "4c5be2cd-1aa8-442f-b0b5-17cca18dc232",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a720c0a4-6eb6-4965-b8b4-fd1663cd13b2",
              "leftValue": "={{ $json.pro_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8a681d7c-1ebb-44e8-a055-617e684680d2",
              "leftValue": "={{ $json.pro_desc }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f4606410-a8c0-44cb-8c80-037cdb134676",
              "leftValue": "={{ $json.pro_price }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e5688f30-b699-4277-ac4b-c25e1353c383",
              "leftValue": "={{ $json.pro_count }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        240
      ],
      "id": "41900b53-67a3-4d6f-9625-3c971b3dfc19",
      "name": "If1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        144
      ],
      "id": "00ad8b29-64f8-477c-b76d-7d6a209e0b9a",
      "name": "Get row(s) in sheet1",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vaDztqYMVv16UgWH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d09cdff4-e46a-4a45-acb2-888d0e842d44",
              "leftValue": "={{ $json.pass }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        144
      ],
      "id": "6ea913fa-2a9c-4303-b2a5-05dca3ad126d",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pro_name": "={{ $('Edit Fields1').item.json.pro_name }}",
            "pro_desc": "={{ $('Edit Fields1').item.json.pro_desc }}",
            "pro_price": "={{ $('Edit Fields1').item.json.pro_price }}",
            "pro_count": "={{ $('Edit Fields1').item.json.pro_count }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "pro_name",
              "displayName": "pro_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pro_desc",
              "displayName": "pro_desc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pro_price",
              "displayName": "pro_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pro_count",
              "displayName": "pro_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        48
      ],
      "id": "e1f07587-a4c7-4425-8f4f-2ba38c16ff46",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vaDztqYMVv16UgWH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  if (item.json.pro_name === $('Edit Fields1').first().json.pro_name) {\n    return { pass: false };\n  }\n}\n\nreturn { pass: true };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        144
      ],
      "id": "b5733b5a-c52b-41ce-9d20-a345e1449e7a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"msg\": \"ไม่สำเร็จ\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        336
      ],
      "id": "1e2a598e-c9a5-4e38-9c3a-b5ee083a3d88",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"msg\": \"ไม่สำเร็จ\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1248,
        240
      ],
      "id": "43d7cbbb-4d99-4633-9928-bc772c13b143",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"msg\": \"สำเร็จ\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1456,
        48
      ],
      "id": "c62067a3-3640-47b0-9021-da37af33a32e",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc/edit#gid=0"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        -272
      ],
      "id": "cf5c821d-4ad2-44b0-8d82-f142a49f81f7",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vaDztqYMVv16UgWH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const findItem = $input.all().find(item => item.json.row_number === $('Edit Fields').first().json.query.id)\n\nreturn findItem ?? { item: null };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -272
      ],
      "id": "37fc33cf-82cb-4d18-a289-af2c3c066a68",
      "name": "Code in JavaScript1",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "01d38282-8963-4369-b030-1ed6b3dece5b",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d2c668f7-85c8-4b23-b035-efe44dad094b",
              "leftValue": "={{ $json.pro_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "6aacdcdf-e321-469d-8c1c-22ea972b4759",
              "leftValue": "={{ $json.pro_desc }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2527b55d-44fe-4272-ae7e-c894e6f06c54",
              "leftValue": "={{ $json.pro_price }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8041f7c8-c1a0-44e7-adbe-c518f06285c3",
              "leftValue": "={{ $json.pro_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1248,
        -272
      ],
      "id": "38493dc2-53dc-4ea8-80d9-6acf52303997",
      "name": "If3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ed77021-2d0e-4fc6-8ddc-1f65f5bd58f4",
              "name": "pro_id",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "6d6a4a88-2854-432b-bf1c-770a9d42f9f7",
              "name": "pro_name",
              "value": "={{ $json.pro_name }}",
              "type": "string"
            },
            {
              "id": "d3f19051-e3d6-4695-b062-43b2e85aca38",
              "name": "pro_desc",
              "value": "={{ $json.pro_desc }}",
              "type": "string"
            },
            {
              "id": "76a339f2-424a-4fcc-b30c-cd2ea3462175",
              "name": "pro_price",
              "value": "={{ $json.pro_price }}",
              "type": "number"
            },
            {
              "id": "1b4442b9-e098-434f-b262-a98c35881939",
              "name": "pro_count",
              "value": "={{ $json.pro_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        -368
      ],
      "id": "f90d09a4-00a6-4c49-9458-57cd883ccf44",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1040,
        -464
      ],
      "id": "010ab9c4-8c2e-45ff-8636-2b9c59c48edc",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1664,
        -368
      ],
      "id": "f2efb461-4fdd-4fbc-af32-ab47ac91eb56",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"msg\": \"ไม่สำเร็จ\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1456,
        -176
      ],
      "id": "5850ac19-1d2a-466a-8e9c-69dcd20225b4",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90903a8a-9234-487e-b22a-9e9358613e88",
              "name": "pro_id",
              "value": "={{ $json.query.id }}",
              "type": "number"
            },
            {
              "id": "04c52e1a-7d4a-4587-afcb-e22d9a2e0ce6",
              "name": "pro_name",
              "value": "={{ $json.body.pro_name }}",
              "type": "string"
            },
            {
              "id": "8f6cf35a-ca02-4c8e-a136-d64aef2944da",
              "name": "pro_desc",
              "value": "={{ $json.body.pro_desc }}",
              "type": "string"
            },
            {
              "id": "3413ecc4-1cdb-45ad-b941-6dff5c7224a3",
              "name": "pro_price",
              "value": "={{ $json.body.pro_price }}",
              "type": "number"
            },
            {
              "id": "a0624e5e-8480-4154-8e56-74abd8e99845",
              "name": "pro_count",
              "value": "={{ $json.body.pro_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        720
      ],
      "id": "cbffb08b-1f5f-4b1e-8220-6f4aecb26cfb",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "621f385b-8b22-405b-b141-ed6c58193b0d",
              "leftValue": "={{ $json.pro_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "c602a20b-8089-4cfb-af3f-992a1f79d3b1",
              "leftValue": "={{ $json.pro_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b3d6cd65-95f5-48b1-af26-1fde3a0ca339",
              "leftValue": "={{ $json.pro_desc }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "7e0515dc-3c31-42dd-b8c0-e8124b3ec1bc",
              "leftValue": "={{ $json.pro_price }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "96b7c832-7b52-40db-8f3e-58cd1208eeaf",
              "leftValue": "={{ $json.pro_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        720
      ],
      "id": "065c18a5-b42d-4ab1-9e3a-f395817de396",
      "name": "If4"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        624
      ],
      "id": "dd328422-0881-41e1-84ae-98a413433dec",
      "name": "Get row(s) in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vaDztqYMVv16UgWH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const hasRow = $input.all().some(item => item.json.row_number === $('Edit Fields3').first().json.pro_id);\n\nif (!hasRow) {\n  return { pass: hasRow };\n}\n\nfor (const item of $input.all()) {\n  if (item.json.pro_name === $('Edit Fields3').first().json.pro_name && item.json.row_number !== $('Edit Fields3').first().json.pro_id) {\n    return { pass: false };\n  }\n}\n\nreturn { pass: true };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        624
      ],
      "id": "396a2061-d80c-430d-9134-bb7ee8608418",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd5fa6ef-66ef-40eb-883c-4c038d4db5c1",
              "leftValue": "={{ $json.pass }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        624
      ],
      "id": "5d78658f-e90a-46c5-9441-6caddfa83f19",
      "name": "If5"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Edit Fields3').item.json.pro_id }}",
            "pro_name": "={{ $('Edit Fields3').item.json.pro_name }}",
            "pro_desc": "={{ $('Edit Fields3').item.json.pro_desc }}",
            "pro_price": "={{ $('Edit Fields3').item.json.pro_price }}",
            "pro_count": "={{ $('Edit Fields3').item.json.pro_count }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "pro_name",
              "displayName": "pro_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pro_desc",
              "displayName": "pro_desc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pro_price",
              "displayName": "pro_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pro_count",
              "displayName": "pro_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        528
      ],
      "id": "b065b09a-7ad0-45b4-a45e-3f3940b66d45",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vaDztqYMVv16UgWH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"msg\": \"ไม่สำเร็จ\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        816
      ],
      "id": "db9bf083-3553-40fa-90ab-88e0600a4734",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"msg\": \"ไม่สำเร็จ\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1248,
        720
      ],
      "id": "129bc25f-4adc-4fd3-9075-89028b9858e3",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"msg\": \"สำเร็จ\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1456,
        528
      ],
      "id": "8682256f-ae9a-43fc-b352-8580ea8f904c",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e23b19e4-7628-43bf-83b2-a8c1f314d838",
              "name": "pro_id",
              "value": "={{ $json.query.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        1200
      ],
      "id": "8f09e8e8-b6b8-4264-a660-980c87aabeba",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b62f3595-f577-47bd-8c5d-b8ebb5447192",
              "leftValue": "={{ $json.pro_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        1200
      ],
      "id": "d13438ab-ab6f-4fd5-b84c-11d07b9ba9d6",
      "name": "If6"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        1104
      ],
      "id": "ae3ec482-dd7b-49d6-9191-4b9bcff1e318",
      "name": "Get row(s) in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vaDztqYMVv16UgWH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const hasRow = $input.all().some(item => item.json.row_number === $('Edit Fields4').first().json.pro_id);\n\nif (!hasRow) {\n  return { pass: hasRow };\n}\n\nreturn { pass: true };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        1104
      ],
      "id": "7c1051b3-ead6-4aac-90b7-67ffe0b73645",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dc4aa9e9-7b83-43d0-b0fa-0f6638b17d04",
              "leftValue": "={{ $json.pass }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        1104
      ],
      "id": "70acc8f1-8a18-4178-8a82-d90309679523",
      "name": "If7"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpknTG2LV-R1YsCaUB1A--z8RvHlmkqfbzhG3m-JsCc/edit#gid=0"
        },
        "startIndex": "={{ $('Edit Fields4').item.json.pro_id }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        1008
      ],
      "id": "e5f5e429-7132-4f48-bd08-5ce5ef2559bb",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vaDztqYMVv16UgWH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"msg\": \"ไม่สำเร็จ\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        1296
      ],
      "id": "b646ef66-ea13-43ea-9eb9-492931cfd027",
      "name": "Respond to Webhook9"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"msg\": \"ไม่สำเร็จ\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1248,
        1200
      ],
      "id": "17c8af82-e74b-4b63-97e5-deff078376f4",
      "name": "Respond to Webhook10"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"msg\": \"สำเร็จ\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1456,
        1008
      ],
      "id": "9e29d43f-3dc6-4ade-a643-1831c22da99d",
      "name": "Respond to Webhook11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "efddc74c-8be0-473a-974a-4b082f28ad78",
              "name": "pro_id",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "898a7167-c701-4fb9-8366-b376184a9c0a",
              "name": "pro_name",
              "value": "={{ $json.pro_name }}",
              "type": "string"
            },
            {
              "id": "c05f15d1-bf06-48f9-98a7-af2eaeebca29",
              "name": "pro_desc",
              "value": "={{ $json.pro_desc }}",
              "type": "string"
            },
            {
              "id": "e21bf4cf-5214-418d-b08b-497c26c7c4b3",
              "name": "pro_price",
              "value": "={{ $json.pro_price }}",
              "type": "number"
            },
            {
              "id": "ad6b119a-3764-411f-8d7d-8b944d5a8282",
              "name": "pro_count",
              "value": "={{ $json.pro_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -464
      ],
      "id": "fe8fe487-726d-4322-851d-74ca4dba3e35",
      "name": "Edit Fields5"
    }
  ],
  "pinData": {},
  "connections": {
    "GET product": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST product": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT product": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE product": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "45b44aab-cdb4-4575-ac76-9f7e63ebca63",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2590df65276adb10d95c4afb29955c00fe2b79ee30764ad3d43910d26965eb3c"
  },
  "id": "JkT6JPOETgG0lIZl",
  "tags": []
}